<footer class="card-footer" id="footer">
  <a href="https://twitter.com/CloudVortexGame"><span class=" footer-icon fab fa-twitter"></span></a>
  <a href="https://www.facebook.com/Cloud-Vortex-Games-114079660353045"><span class=" footer-icon fab fa-facebook-f"></span></a>
  <a href="https://www.instagram.com/cloud.vortex.games/"><span class=" footer-icon fab fa-instagram"></span></a>
  <a href="#"><span class=" footer-icon fas fa-envelope"></span></a>
  <p>© Copyright 2020 Cloud Vortex Games</p>

</footer>

</body>

</html>
